<p>
  <b>Matricula:</b>
  <%=h @professional.matricula %>
</p>

<p>
  <b>Nome cracha:</b>
  <%=h @professional.nome_cracha %>
</p>

<p>
  <b>Dt inicio:</b>
  <%=h @professional.dt_inicio %>
</p>

<p>
  <b>Dt termino:</b>
  <%=h @professional.dt_termino %>
</p>

<p>
  <b>Empresa:</b>
  <%=h @professional.empresa %>
</p>

<p>
  <b>Nome:</b>
  <%=h @professional.nome %>
</p>

<p>
  <b>Rg:</b>
  <%=h @professional.rg %>
</p>

<p>
  <b>Cpf:</b>
  <%=h @professional.cpf %>
</p>

<p>
  <b>Dt nasc:</b>
  <%=h @professional.dt_nasc %>
</p>

<p>
  <b>Endereco:</b>
  <%=h @professional.endereco %>
</p>

<p>
  <b>Cargo:</b>
  <%=h @professional.cargo %>
</p>

<p>
  <b>Depto:</b>
  <%=h @professional.depto %>
</p>

<p>
  <b>Telefone:</b>
  <%=h @professional.telefone %>
</p>

<p>
  <b>Celular:</b>
  <%=h @professional.celular %>
</p>

<p>
  <b>Email:</b>
  <%=h @professional.email %>
</p>

<p>
  <b>Email tim:</b>
  <%=h @professional.email_tim %>
</p>

<p>
  <b>Redir email:</b>
  <%=h @professional.redir_email %>
</p>


<%= link_to 'Edit', edit_professional_path(@professional) %> |
<%= link_to 'Back', professionals_path %>